.mainpage{
  font-family:sans-serif;
  background-color: #91e3fc;
}

.keyVisual{
  text-align: center;
}

/*ここ変更した*/
.keyVisual img{
  border-radius: 20px;
}

h2{
  background-image: url(niconico_bg_blue.png);
  border-radius: 10px; /*ここ変更した*/
  line-height: 80px;
  font-size: 30px;
  padding: 0 15px;
  color: #fff;
  text-align: center;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.aboutWrapper img {
  /* float: left; */
  display: flex;
  margin-right: 10px;
}

.priceWrapper,
.noteWrpper{
  width: 100%;
  margin: 0 auto;
}

.priceWrapper table,
.priceWrapper th,
.priceWrapper td{
  border-collapse: collapse;
  border: 1px solid black;
}

.priceWrapper th,
.priceWrapper td{
  padding: 7px;
}

.priceWrapper table{
  width: 100%;
}

.priceWrapper th{
  width: 150px;
  background: #eee;
}

.moneycaution{
  width: 650px;
  background-color: rgba(135, 207, 235, 0.877);
  margin: 0 auto;
  border-radius: 10px;
}

footer{
  background-color: rgb(218, 218, 218);
}

.headerInner{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*ここ変更した*/
.headerInner,
.mainInner{
  max-width: 650px;
  margin: 0 auto;
  padding: 0 20px;
}

.footerInner{
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

.contactButton{
  background: rgb(147, 199, 229); /*ここ変更した*/
  width:150px;
  height:50px;
  border-radius: 10px; /*ここ変更した*/
  color: #fff;
  display:inline-block;
  text-align: center;
  font-size: 15px;
  line-height: 50px;
  transition: 500ms;
}

.contactButton:hover{
  background: cornflowerblue;
}

/*ここ変更した*/
/*ここから下はキッズ向けページ*/
.headerInner-kids{
  height: 100px;
  display: flex;
  justify-content: space-around;
  /* justify-content: space-evenly; */
  align-items: center;
  background-image: url(空のイラスト.png);
}

/* .headerInner-kids,
.mainInner-kids{
  margin: auto;
  padding: 0 20px;
}  */

/* タイトル文字色 */
.logo-kids span{
  display:inline-block;
  font-size: 30px;
  font-weight:bold;
  width: 50px;
}

.logo-kids span:nth-of-type(8n+1){color:rgb(255, 0, 0);}  /* １つ目から５つ毎に最後迄 → 1,6,11  */
.logo-kids span:nth-of-type(8n+2){color:rgb(255, 153, 0);}  /* ２つ目から５つ毎に最後迄 → 2,7,12  */
.logo-kids span:nth-of-type(8n+3){color:rgb(251, 255, 0);}  /* ３つ目から５つ毎に最後迄 → 3,8,13  */
.logo-kids span:nth-of-type(8n+4){color:rgb(154, 248, 110);}  /* ４つ目から５つ毎に最後迄 → 4,9,14  */
.logo-kids span:nth-of-type(8n+5){color:rgb(42, 253, 0);}  /* ４つ目から５つ毎に最後迄 → 4,9,14  */
.logo-kids span:nth-of-type(8n+6){color:rgb(0, 255, 242);}  /* ５つ目から５つ毎に最後迄 → 5,10,15  */
.logo-kids span:nth-of-type(8n+7){color:rgb(0, 81, 255);}  /* ５つ目から５つ毎に最後迄 → 5,10,15  */
.logo-kids span:nth-of-type(8n+8){color:rgb(162, 0, 255);}  /* ５つ目から５つ毎に最後迄 → 5,10,15  */

.logo-kids span:nth-of-type(1),
.logo-kids span:nth-of-type(3),
.logo-kids span:nth-of-type(5),
.logo-kids span:nth-of-type(7){font-size:50px;}

.kidspage{
  font-family: hannotate SC;
  background-image: url(背景候補1.jpeg);
  /* background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center; */
}

/* .mainInner-kids{
  max-width: 650px;
  background-color: #eeeeee;
  background-image: url();
  border-radius: 10px;
  display: flex;
} */

.article-kids{
  display: flex;
  justify-content: space-evenly;
  /* margin: 0 auto; */
  /* justify-content: space-evenly; */
}

/* .article-kids{
  /* justify-content: space-evenly; */
  /* display: flex;
} */ 

.section-kids{
  background-color: rgba(135, 207, 235, 0.877);
  background-image: url();
  border-radius: 10px;
  padding: 10px 10px;
  width: 25%;
}

.section-kids img {
  float: left; 
  margin-right: 10px;
  /* margin: auto; */
  border-radius: 100px;
}

/*ここ変更した*/
.footer-kids{
  background-image: url(砂浜２.jpeg);
}

.contactButton-kids{
  background: rgb(210, 247, 0);
  width:200px;
  height: 60px;
  border-radius: 10px;
  color: rgb(6, 38, 56);
  display:inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 65px;
  transition: 500ms;
}

.contactButton-kids:hover{
  background: rgb(99, 247, 0);
}



/*ここから下はお問合せページ*/
.contactForm{
  width: 100%;
  max-width: 650px;
  margin: 0 auto 20px;
  border-spacing: 0;
}

main h1{
  text-align: center;
}

.contactForm th,
.contactForm td{
  padding: 2rem 0;
  border-bottom: 1px solid #e1e1e1;
}

.contactForm th{
  text-align: left;
  color: #606c76;
}

input[type="text"],textarea{
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  min-height: 1rem;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

input[type="text"]::placeholder{
  color: #aaa;
}

input[type="text"]:focus,
textarea:focus{
  border-color: #41487e;
  outline: 0;
}

input[type="text"]::placeholder{
  transition: 300ms;
}

input[type="text"]:focus::placeholder{
  transform: translateX(30px);
  opacity: 0;
}

input[type="radio"]{
  display: none;
}

input[type="radio"] + label{
  padding-left: 20px;
  margin-right: 20px;
  position: relative;
}

input[type="radio"] + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}

input[type="radio"]:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #41487e;
  border-radius: 50%;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + label{
  padding-left: 25px;
  position: relative;
}

input[type="checkbox"] + label:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
}

input[type="checkbox"]:checked + label:after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 15px;
  transform: rotate(45deg);
  border-bottom: 3px solid #41487e;
  border-right: 3px solid #41487e;
}

.text-center{
  text-align: center;
  padding: 10px;
}

.selectBox{
  color: #41487e;
  border: solid 2px #41487e;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.selectBox:after{
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-25%);
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #41487e;
  z-index: -1;
}

select{
  padding: 2px 5px;
  border-radius: 0;
  outline: none;
  border: 0;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
}

input[type="submit"]{
  border-style:none;
  border-radius: 5px;
  padding: 10px 30px;
  background: #41487e;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms;
}

input[type="submit"]:hover{
  background: #1f275e;
}
