*{
  line-height: 1.4;
}


body{
  font-family: sans-serif;
  font-family: hannotate SC;
  background-color: #cbe9f3;
  width: 100%;
  
}

main{
  background-image: url(https://www.illust-box.jp/db_img/sozai/00014/144256/watermark.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: center center;
}

article{
  margin: 0;
}

.keyVisual{
  margin: auto;
  max-width: 1200px;
  height: 400px;
  text-align: center;
  overflow:hidden;
  border-radius: 30px;
}

.keyVisual img {
  width: 100%;
  height: 400px;
  transition:1s;
}
.keyVisual img:hover{
  transform:scale(1.05);
}

.headerInner{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerInner,.mainInner{
  max-width: 750px;
  margin: auto;
  margin-bottom: 0;
  padding: 0 20px;
}

.mainInner{
  margin-top: 15px;
  padding-bottom: 20px;
}

footer{
  /* background: #eeeeee; */
  background-color: #fff;
}

.footerInner{
  text-align: center;
  padding: 30px;
}
.priceWrapper table,
.priceWrapper th,
.priceWrapper td{
    border-collapse: collapse;
    border: 1px solid black;
}

.priceWrapper th,
.priceWrapper td{
    padding: 7px;
    background-color: #fff;

}

.priceWrapper table{
    width: 100%;
}

.priceWrapper th{
    width: 150px;
    /* background: #eee; */
    /* background-color: #fff; */
}

.priceWrapper{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.65);
  margin-bottom: 20px;
}

.noteWrapper{
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.65);
}

.contentsWrapper{
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.contensSection{
  padding-left: 15px;
  padding-right: 15px;
  width: 33.33%;
}

.iconBox{
  padding: auto;
}

h2{
  background-image: url(niconico_bg_blue.png);
  line-height: 50px;
  padding:0 15%;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.imgBox{
  text-align: center;
  /* background-color: #fff; */
  background-color: #41487e;
  width: 160px;
  height: 160px;
  margin: auto;
  border-radius: 50%;
  border-color: #41487e;
  border-width: 5px;
}

.imgBox img{
  border-radius: 50%;
  position: relative;
  top: 3px;
  /* left: 3px; */
  border: 2px solid #fff;
}

.imgBox img:hover{
  animation: hvr-buzz-out 1s 1;
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

/* .explain{
  display: none;
} */

.textBox{
  width: 160px;
  height: 75px;
  margin: 0 auto;
  /* padding: 5px; */
  /* border-radius: 10px; */
  color: #41487e;
  /* box-shadow: #1f275e; */
  text-align: center;
  vertical-align: center;
}

.iconText{
  font-weight: bold;
}

.textBackground{
  background-color: rgba(135,206,235,0.6);
}

.aboutWrapper{
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.65);
  border-radius: 10px; */
  margin-left: 5px;
  margin-right: 5px;
}

.noteWrapper ul{
  padding-bottom: 15px;
}

.hover a{
  color: #000;
  text-decoration: none;
  font-size: 24px;
  line-height: 50px;
  background: skyblue;
  color: #fff;
  width: 150px;
  height: 50px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}


.hover a:hover{
  background: orange;
}

main h1{
  text-align: center;
  margin: auto 0;
}

/*-----------ここからお問合せ-------------*/
.contactForm{
  width: 100%;
  max-width: 650px;
  margin: 0 auto 20px;
  border-spacing: 0;
}

.contactForm th,
.contactForm td{
  padding: 2rem 0;
  border-bottom: 1px solid #e1e1e1;
}

.contactForm th{
  text-align: left;
  color: #606c76;
}

input[type = "text"], textarea{
  background-color: transparent;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  min-height: 1rem;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

input[type = "text"]::placeholder{
  color: #aaa;
}

input[type="text"]:focus,
textarea:focus{
  border-color: #41487e;
  outline: 0;
}

input[type ="text"]::placeholder{
  transition: 300ms;
}

input[type="text"]:focus::placeholder{
  transform: translateX(30px);
  opacity: 0;
}

input[type = "radio"]{
  display: none;
}

input[type = "radio"] + label{
  padding-left: 20px;
  margin-right: 20px;
  position: relative;
}

input[type = "radio"] + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 50%;
}

input[type="radio"]:checked + label:after{
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #41487e;
  border-radius: 50%;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + label{
  padding-left: 25px;
  position: relative;
}

input[type="checkbox"] + label:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
}

input[type="checkbox"]:checked + label:after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 15px;
  transform: rotate(45deg);
  border-bottom: 3px solid #41487e;
  border-right: 3px solid #41487e;
}

.text-center{
  text-align: center;
  padding: 10px;
}

.selectBox{
  color: #41487e;
  border: solid 2px #41487e;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.selectBox:after{
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-25%);
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid #41487e;
  z-index: -1;
}

select{
  padding: 2px 5px;
  border-radius: 0;
  outline: none;
  border: 0;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: 16px;
}

input[type = "submit"]{
  border-style: none;
  border-radius: 5px;
  padding: 10px 30px;
  background: #41487e;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 300ms;
}

input[type="submit"]:hover{
  background: #1f275e;
}
